.chart-course {
    margin-top: 20px;
    padding: 25px 20px;
    background-color: #fff;

    @media only screen and (max-width : 600px) {
        display: none;
    }


    &__main {
        margin-top: 10px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__money-to {
        display: flex;
        align-items: center;
    }

}